/* NAV */

ul {
	list-style-type: none;
	display:flex;
	justify-content: flex-end;
	flex-direction: row;
	font-size: 12px;
	margin: 3px;
	font-family: arial,sans-serif;
}




header a {
	color: black;
	text-decoration: none;
}

a: hover {

}

li {
	padding: 10px 10px;
}

#connexion {
	border: solid;
	border-radius: 3px;
	border-width: 3px;
	border-color: blue;
	background-color:blue;

}



/* GOOGLE */
#logo
{
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 150px;

}

/*Barre de recherche */
#formulaire {
	display:flex;
	justify-content: center;
	margin-top: 17px;
	}

/* Boutons */
#boutons  {
	display:flex;
	justify-content:center;
	flex-direction: row;
	margin-top: 15px;
	font-family: arial, sans-serif;
	color: #757575;

}

#boutons p
{
	background-color: rgb(240,240,240);
	margin: 10px;
	padding: 10px 10px;
}

#boutons a {
	text-decoration: none;
}

/* Footer1 */
footer {
	font-family: arial, sans-serif;
	margin-top: 65px;
	font-size: small;
}

#footer1 {
	background-color: rgb(240,240,240);
	height: 50px;

}

#footer1 p {
	padding-top: 15px;
	padding-left: 20px;
}

/* Footer2 et 3 */

#footer2 {
	padding-top: 0px;
	padding-left: 20px;
	display: flex;
	
}
#footer2 p {
	margin-right: 20px;
}


#footer3 {
	padding-top: 0px;
	padding-left: 20px;
	display: flex;
	
}
#footer3 p {
	margin-right: 20px;
}

#footer2etfooter3 {
	background-color: rgb(240,240,240);
	display: block;
	display: flex;
	justify-content: space-around;
	justify-content: space-between;

}